.summary-container {
    margin:0px;
}

.project-title {
    border-bottom: 2px solid #000000;
    display:flex;
    justify-content:flex-start;
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 100%;
    font-weight: 600;
    font-style: italic;
}

.summary, .actions {
    border-bottom: 2px solid #000000;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    padding-bottom: 20px;
}

.summary > span, .actions > span {
    display:flex;
    justify-content:flex-start;
    font-weight: 600;
    margin: 0px 50px 10px 0px;
    max-width: 100% !important;
    font-size: clamp(1.5rem, 1.8vw, 2rem);
}

.summary-content, .actions-content {
    display: flex;  
    flex-direction: row;
}

.summary-content > h5 {
    font-size: clamp(1.5rem, 1.8rem, 2rem)
}

.indicator > span {
    font-weight: 600;
}

.action-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border-radius: 10px;
}

.action-icon {
    width:60px;
    margin: 0px 10px 0px 3px;
}

.action-card h2 {
    font-size: 16px;
    text-align: left;
    font-weight: 600;
}

.action-card p {
    font-size: 15px;
    text-align: left;
}

