.join-us {
    max-width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin:0px;
    padding:0px;
    flex-direction: column;
    background-color: rgb(21, 15, 15);
    color:#ffffff
}

.join-us-title {
    text-align: center;
}

.join-us-subtitle {
    text-align:left;
}

.banner {
    max-width:100%;
    width: 100%;
    height:calc(100vh);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
    padding:80px;
    box-shadow: 0 0 20px 20px rgb(21, 15, 15) inset;
}

.gradient-custom {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    border-radius: 10px;
    max-width: 100%;
    width:80vw;
    height:70vh;
}

.card-custom {
    border-bottom-left-radius: 10% 50%;
    border-top-left-radius: 10% 50%;
    background-color: #f8f9fa ;
    width:90%;
    height:88%;
    display: flex;
    justify-content: center;
}

input,
input::placeholder {
    font: 20px sans-serif;
    padding:5px
}

.left-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-col {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.right-col-row {
    display:flex;
    flex-direction: row;
    margin: 15px 0px;
    justify-content: space-around;
    width:'85%';
}

.input-custom {
    background-color: white ;
}

.white-text {
    color: hsl(52, 0%, 98%);
    font-weight: 100 ;
    font-size: 14px;
}

.nav-button {
    background-color: hsl(52, 0%, 98%);
    font-weight: 600;
    color: black ;
    margin-top: 50px ;
    text-decoration: none;
    padding:10px;
    border-radius: 10px;
    font-size: 16px;
}

.nav-button:hover {
    cursor:pointer;
}

.faq-questions {
    margin:20px 0px;
}

.accordion-body {
    text-align: left;
}


.deco-img {
    width:60%;
    height:auto;
    margin: 10px 0px 20px 0px;
    opacity: 0.6;
    border-radius:20px;
}

.job-title {
    text-align:left;
    text-decoration: underline;
}

.job-desc {
    border-radius: 10px;
    border:2px solid #000;
    padding:20px;
    margin-bottom: 25px;
}


ul, ol{
    text-align:left;
}