.sidenav-container {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 50%;
  transform: translate(-10%, -50%);
  background-color: bisque;
  padding: 20px 0px;
  border-radius: 20px;
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75);
}

.user {
  height:50px;
  width:50px;
  margin-bottom: 50px;
}

.mr-auto {
  display: flex;
  flex-direction:column;
  height: 60%;
  align-content:center;
}

.nav-icon {
  color: var(--dark-text);
  font-size: 22px;
  margin: 5px 10px;
  padding: 0px;
}

.mr-auto > a, .nav-icon-container {
  width:max-content;
  padding: 5px;
  border-radius: 10px;
  margin: 5px 0px;
  background-color: transparent;
  border: none
}

.nav-icon-container:hover {
  background-color: #f5f5f580;
}

.nav-lower {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}


