.home-container {
    padding:0px;
    margin:0px 15px;
}

.home {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    width:100%;
    margin:0px;
    padding:0px;
    align-items: stretch;
    height: 80vh;
    min-height:300px;
    background-color: var(--background);
    border:none;
}

.home > tr {
    width:100%;
    height: 100%;
    background-color: var(--background);
    border:none;
}

.home > tr > td:not(:first-child):not(:last-child) {
    border-left: 1px solid var(--toggle-border);
    border-right: 1px solid var(--toggle-border);
    margin: 0px 10px;
}

.home td {
    width:100%;
    height: 100%;
    background-color: var(--background);
    border:none;
}

.project-name {
    display:flex;
    justify-content:flex-start;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 20px;
}

.project-name button {
    background-color: transparent;
    color: #000000;
    border: none;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 20px;
    width: 200px;
}
  

@media screen and (min-width: 992px) {
.sections {
    /* background-color: aqua; */
    padding:0px;
    height: 80vh;
    min-height:300px;
}
}

@media screen and (max-width: 992px) {
    .sections {
        /* background-color: aqua; */
        padding:0px;
        overflow-y: scroll;
        height: 70vh;
        min-height:300px;
        overflow-x: visible;
    }
}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.section > button {
    margin: 5px 0px;
    height: clamp(1rem, 2rem, 3rem);
    font-size: clamp(0.5rem, 0.7rem, 1.4rem);
}

.button-icon {
    margin: 0px 5px;
}

.whitepaper > .button-main {   
    background-color: #D0521C;
    border:none
}

.whitepaper > .button-sub {   
    background-color: #e29270;
    border:none
}

.whitepaper > .button-sub:active {   
    background-color: #D0521C;
    border:none
}

.regulations > .button-main {
    background-color: #1B53C5;
    border: none;
}

.regulations > .button-sub {
    background-color: #3D73D1;
    border: none;
}

.regulations > .button-sub:hover {
    background-color: #1B53C5;
    border: none;
}

.industrial-standard > .button-main {
    background-color: #11880F;
    border: none;
}

.industrial-standard > .button-sub {
    background-color: #67b365;
    border: none;
}

.industrial-standard > .button-sub:hover {
    background-color: #11880F;
    border: none;
}

.button-main {
    width: 100%;
    min-width: 140px;
    max-width: 230px;
    margin-left: 10px;
    font-weight: 600;
    align-self: right;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.button-sub {
    width: 80%;
    min-width: 110px;
    max-width:180px;
    transition: all 0.2s linear;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.browser {
    height: 100%;
}

.tabs {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #86909C;
    padding:0px;
}

.tab {
    font-size: clamp(0.6rem, 0.8rem, 1rem);
    font-weight: 600;
    background-color: #E8F4FF;
    border-radius: 5px;
    border: 1px solid #E5E6EB;
    padding: 2px;
    margin: 0px 1px;
    color: #1B53C5;
}

.tab:hover {
    background-color: #B8D4F3;
    color: #1B53C5;
}

.tab:active {
    background-color: #E8F4FF;
    color: #1B53C5;
}

.tab-active {
    background-color: #B8D4F3;
}

.code {
    font-family: "Fira Code", monospace;
}

code {
    text-align: left
}

.browser span {
    font-size: clamp(0.4rem, 0.6rem, 1.0rem);
}

.label-row {
    display:flex;
    flex-direction: row;
    justify-content: center;
    height:10vh;
    min-height:60px;
    max-height:80px;
}

.label-row-box {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 20px 3px;
    padding: 5px 0px;
    max-width: 300px;
    min-width: 140px;
    width: 20%;
}

.label-row-title {
    text-align: left;
    display:flex;
    flex-direction: row;
    margin:5px 0px;
    padding:0px;
}

.label-row-title > span {
    font-size: clamp(0.3rem, 0.5em, 1rem);
    font-weight: 600;
    white-space: nowrap;
    align-self: center;
}

.label-row-title > .label-icon {
    margin: 0px 5px;
    width: 20px;
    height: auto;
}


.label-row-content {
    font-size: clamp(0.2rem, 0.4em, 1rem);
    padding: 0px;
}

.label-box {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 20px 0px;
    max-width: 300px;
    min-width: 200px;
}

.label-title {
    text-align: left;
    display:flex;
    flex-direction: row;
    margin:5px 0px;
    justify-content: flex-start;
}

.label-title > span {
    font-size: clamp(0.6rem, 1rem, 2rem);
    font-weight: 600;
    white-space: nowrap;
    align-self: center;
}

.label-indicator {
    margin-right:5px;
    padding:5px;
}

.label-content {
    font-size: clamp(0.4rem, 0.7rem, 1.6rem);
}

.label-icon {
    margin: 0px 12px;
    width: 20px;
    height: auto;
}

.check {
    background-color: #22A06B;
    color:  #ffffff
}

.warning {
    background-color: #F7BA1E;
    color:  #000000
}

.success {
    background-color: #22A06B;
    color:  #ffffff
}

.error {
    background-color: #E34935;
    color:  #ffffff
}

