.cards {
    max-width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin:0px;
    padding:0px;
    flex-direction: column;
    background-color: #222222;
    color:#ffffff;
    margin-top: -80px;
}

.cards-content {
    max-width:100%;
    width:100%;
    padding:0px;
    display:flex;
}


.cardDetails-open {
    width:25vw;
    margin:0px;
    background-color: #E5E5E5;
    color:#000000;
    display: block;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    transition: width 1s;
}

.cardDetails {
    width:0;
    margin:0;
    padding:0;
    background-color: #E5E5E5;
    color:#000000;
    display: block;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    transition: width 1s;
}


.cards-collection {
    width:75vw;
}

.cards-collection > .row {
    justify-content: center;
}

.cards-content > .row {
    justify-content:center;
}

.cardSlot {
    border: 2px solid #F0C11E;
    height: 25vh;
    margin: 0.5vw 10px;
    display:flex;
    justify-content: center;
}

.cardSlot > img { 
    width:auto;
    height: 100%;
    align-self: center;
}
