.home {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    width:100%;
    margin:0px;
    padding:0px;
    align-items: stretch
}

.sections {
    /* background-color: aqua; */
    padding:0px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.section > button {
    margin: 5px 0px;
    height: clamp(1rem, 2rem, 3rem);
    font-size: clamp(0.5rem, 0.7rem, 1.4rem);
}

.button-icon {
    margin: 0px 5px;
}

.whitepaper > .button-main {   
    background-color: #D0521C;
    border:none
}

.whitepaper > .button-sub {   
    background-color: #e29270;
    border:none
}

.whitepaper > .button-sub:active {   
    background-color: #D0521C;
    border:none
}

.regulations > .button-main {
    background-color: #1B53C5;
    border: none;
}

.regulations > .button-sub {
    background-color: #3D73D1;
    border: none;
}

.regulations > .button-sub:hover {
    background-color: #1B53C5;
    border: none;
}

.industrial-standard > .button-main {
    background-color: #11880F;
    border: none;
}

.industrial-standard > .button-sub {
    background-color: #67b365;
    border: none;
}

.industrial-standard > .button-sub:hover {
    background-color: #11880F;
    border: none;
}

.button-main {
    width: clamp(8rem, 10rem, 12rem)
}

.button-sub {
    width: clamp(6rem, 8rem, 10rem);
    transition: all 0.2s linear;
}

.browser {
    height: 100%;
}

.tabs {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #86909C;
    padding:0px;
}

.tab {
    font-size: clamp(0.8rem, 1rem, 2rem);
    font-weight: 600;
    background-color: #E8F4FF;
    border-radius: 5px;
    border: 1px solid #E5E6EB;
    padding: 2px;
    margin: 0px 1px;
    color: #1B53C5;
}

.tab:hover {
    background-color: #B8D4F3;
    color: #1B53C5;
}

.tab:active {
    background-color: #E8F4FF;
    color: #1B53C5;
}

.tab-active {
    background-color: #B8D4F3;
}

.code {
    font-family: "Fira Code", monospace;
}

code {
    text-align: left
}

.browser span {
    font-size: clamp(0.6rem, 0.8rem, 1.6rem);
}

.label-box {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 20px 0px;
}

.label-title {
    text-align: left;
}

.label-title > span {
    font-size: clamp(0.8rem, 1rem, 2rem);
    font-weight: 600;
}

.label-content {
    font-size: clamp(0.6rem, 0.8rem, 1.6rem);
}

.label-icon {
    margin: 0px 12px
}

.check {
    background-color: #86909C;
    color:  #ffffff
}

.warning {
    background-color: #F7BA1E;
    color:  #000000
}

.success {
    background-color: #22A06B;
    color:  #ffffff
}

.error {
    background-color: #E34935;
    color:  #ffffff
}

