.nav-container {
  max-width:100%;
  width:100%;
  display:flex;
  justify-content: center;
  /* background-color:#222222; */
  background-color: transparent;
  z-index:10;
  /* border-bottom: 2px solid #e7e7e7; */
}

.logo {
  height:70px;
  width:auto;
  font-size: 30px;
  line-height: 30px;
  vertical-align: middle;
  padding:0px;
  margin-top: 5px;
}

.mr-auto > a {
  font-weight: 600;
}

.title {
  color: var(--dark-text);
  text-decoration: none;
  font-size: 2rem;
  white-space: nowrap;

}

.title:hover {
  color: var(--dark-text);
  text-decoration: none;
}

.navBar {
  max-width:100%;
  color:#ffffff;
  width:80vw;
  display: flex;
  justify-content: center;
}

.nav {
  width:100%;
  display: flex;
  justify-content: center;
}

.nav-icon {
  color:#ffffff;
  font-size: 22px;
}

.nav > div {
  display:flex;
  align-items: center;
  justify-content: center;
}

.mr-auto {
  font-size:18px;
  justify-content: center;
}

.mr-auto > a {
  width:max-content;
  margin: 0px 20px
}

.navbar-collapse {
  justify-content: flex-end;
}
