.footer {
    max-width:100%;
    background-color: #222222;
    display:flex;
    justify-content:center;
}

.footer > .col {
    width:80%;
    background-color: #222222;
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}

.footer-top {
    color:#ffffff;
    height:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 750px;
    width:50vw;
    /* border-bottom:1px solid #ffffff; */
}

.footer-content {
    justify-content: center;
    color:#ffffff;
    border-bottom:1px solid #ffffff;
    text-align:left;
    align-items: left;
}


.footer-bottom {
    color:#ffffff;
    height: 30px;
    align-items: center;
}

.footer-bottom > span {
    font-size: 10px;
}

.footer-brand {
    font-weight: 700;
    font-family: Roboto, sans-serif;
    font-size: 25px;
    display:flex;
    justify-content: flex-start;
}

.footer-logoGroup {
    display:flex;
    justify-content: flex-end;
}

.footer-icon {
    width: 24;
    height:24;
    margin:0px 15px;
}

.footer-width {
    width: 30;
    height:30;
    color:#d5d5d5;
    font-size: 20px;
    text-align:middle;
}


.footer-width:hover {
    color:#f8f8f8;
    cursor: pointer;
}

.footer-logo {
    height:60px;
    margin: 10px 0px;
}
